[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "~=0.13"
jinja2 = "~=2.11"
flask-wtf = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
